.main-dashboard {
    margin: 1.723% 6.25% 0% 7.57%;
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: column;
}

.section-dashboard {
    display: flex;
    height: 86%;
}

.header-dashboard {
    display: flex;
    flex-direction: column;
}

.title-dashboard h1,
.subtitle-dashboard h2 {
    margin: 0;
}

.title-dashboard {
    margin-bottom: 41px;
}

.title-dashboard h1 {
    font-size: 48px;
    font-weight: 500;
}

.title-dashboard h1 span {
    color: red;
}

.subtitle-dashboard h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 57px;
}

/* article */
.article-dashboard {
    display: flex;
    flex-wrap: wrap;
    flex: 5.5;
    width: 100%;
    margin-right: 30px;
}

.article-dashboard-header {
    position: relative;
    width: 100%;
    height: 46.53%;
    margin-bottom: 1.043%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FBFBFB;
    border-radius: 15px;
}

.article-dashboard-subtitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
}

/*  */
.chartLegend {
    display: flex;
    justify-content: flex-end;
    margin: 0px 24px 20px;
}

.chartTitle {
    justify-self: flex-start;
    margin-right: auto;
}

.chartWeight__legend {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointBar {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.chartWeight__legend-weight {
    margin-right: 32px;
}

.chartWeight__title {
    font-size: 18px;
}

.chartWeight__legend-weight,
.chartWeight__legend-calory,
.chartWeight__title {
    font-weight: 500;
}

/*  */
.legendBar {
    position: absolute;
    top: 7%;
    left: 4%;
    font-size: 15px;
    font-weight: 500;
    z-index: 1;
}

.legendLine {
    position: absolute;
    top: 3%;
    left: 10%;
    width: 37%;
    color: white;
    font-size: 21px;
    z-index: 1;
    opacity: 0.5;
}

.plan {
    display: flex;
    position: relative;
    align-items: center;
    width: 32%;
    border-radius: 15px;
}

#root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div.plan.line>div>div>svg,
.radar-chart,
.radial-bar-chart {
    border-radius: 15px;
}


/* Aside */

.aside-dashboard {
    flex: 1.6539 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94%;
}

.aside-dashboard-container {
    background: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 51px 30px 30px;
    border-radius: 15px;
}

.content-container-title {
    font-size: 24px;
    font-weight: 700;
}

.content-container-subtitle {
    color: #74798C;
    font-size: 20px;
    font-weight: 500;
}

.logo-container {
    padding: 30px;
    margin-right: 69px;
    border-radius: 5px;
}

.fa-fire,
.fa-drumstick-bite,
.fa-apple-whole,
.fa-burger {
    width: 40px;
    height: 40px;
}

.fa-fire path {
    fill: #FF0000;
}

.fa-drumstick-bite path {
    fill: #4AB8FF;
}

.fa-apple-whole path {
    fill: #FDCC0C;
}

.fa-burger path {
    fill: #FD5181;
}

.calories {
    background: #FBEAEA;
}

.protein {
    background: #E9F4FB;
}

.carbohydrates {
    background: #FAF6E5;
}

.lipids {
    background: #FBEAEF;
}

@media screen and (min-width: 1440px) and (max-width:2559px) {
    .article-dashboard-header {
        /* height: 300px; */
        height: 42.348%;
        border-radius: 5px;
    }

    .article-dashboard-subtitle {
        height: 38%;
    }

    .legendBar {
        position: absolute;
        left: 7%;
        font-size: 15px;
        font-weight: 500;
    }

    .plan {
        align-self: flex-end;
        height: 100%;
        border-radius: 5px;
    }

    .legendLine {
        width: 50%;
    }

    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div.plan.line>div>div>svg,
    .radar-chart,
    .radial-bar-chart {
        border-radius: 5px;
    }

    .aside-dashboard-container {
        border-radius: 5px;
    }

    .content-container-title {
        font-size: 20px;
    }

    .content-container-subtitle {
        font-size: 14px;
    }

    .logo-container {
        padding: 21px;
        margin-right: 24px;
        border-radius: 5px;
    }

    .fa-fire,
    .fa-drumstick-bite,
    .fa-apple-whole,
    .fa-burger {
        width: 25px;
        height: 25px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .main-dashboard {
        margin: 1.723% 1.75% 0% 1.57%
    }

    .title-dashboard {
        margin-bottom: 11px;
    }

    .title-dashboard h1 {
        font-size: 28px;
        font-weight: 500;
    }

    .title-dashboard h1 span {
        color: red;
    }

    .subtitle-dashboard h2 {
        font-size: 8px;
        font-weight: 400;
        margin-bottom: 27px;
    }

    .article-dashboard-header {
        height: 53.572%;
    }

    .legendBar {
        font-size: 14px;
    }

    .legendLine {
        top: 3%;
        left: 10%;
        width: 57%;
        font-size: 13px;
        z-index: 1;
    }

    .article-dashboard-subtitle {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 35%;
    }

    .article-dashboard {
        margin-right: 14px;
    }

    .aside-dashboard-container {
        padding: 15px;
        border-radius: 5px;
    }

    .logo-container {
        padding: 16px;
        margin-right: 24px;
        border-radius: 5px;
    }

    .fa-fire,
    .fa-drumstick-bite,
    .fa-apple-whole,
    .fa-burger {
        width: 20px;
        height: 20px;
    }

    .content-container-title {
        font-size: 16px;
    }

    .content-container-subtitle {
        font-size: 10px;
    }

    .plan {
        align-self: flex-end;
        height: 100%;
        width: 31%;
    }

    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div.plan.line>div>div>svg,
    .radar-chart,
    .radial-bar-chart {
        border-radius: 15px;
    }

    .chartLegend {
        margin: 0px 24px;
    }
}