.Footer {
    background: black;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 117px;
    height: 100%;
}

.fa-person-swimming,
.fa-person-biking,
.fa-dumbbell {
    width: 32px;
    height: 32px;
}

.fa-person-swimming path,
.fa-person-biking path,
.fa-dumbbell path {
    fill: #FF0101;
}

.fa-person-swimming {
    transform: rotateY(180deg);
}

.fa-dumbbell {
    transform: rotate(135deg);
}

.icons {
    /*margin: 256px 26.5px 144px 26.5px;*/
    margin: auto 26.5px auto 26.5px;
}

.icon {
    background: white;
    border-radius: 6px;
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
}


.text {
    font-size: 12px;
    font-weight: 500;
    color: white;
    margin-bottom: 63.28%;
    white-space: nowrap;
}

.Footer-text {
    transform: rotate(270deg);
}