.radial-bar-chart {
    background-color: #FBFBFB;
}

.radial .recharts-surface .recharts-area .recharts-layer .recharts-radial-bar-sector {
    fill: red;
}

div.plan.radial>div>div>div>ul>li.recharts-legend-item.legend-item-1>svg>path {
    display: none;
}

/* #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div.plan.radial>div>div>div {
    width: 62px;
    transform: translate(-75%, 0%);
    line-height: 14px;
    color: #74798C;
} */

.containerScore {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin-right: 56px;
    transform: translate(0%, -44%);
}

.valueScore {
    font-size: 68px;
    font-weight: 700;
    color: black;
    margin-bottom: 33px;
    line-height: 20px;
}

.nameScore {
    font-weight: 400;
    color: #74798C;
    font-size: 36px;
}


div.plan.radial>div>div>div>ul>li.recharts-legend-item.legend-item-1>span {
    color: currentColor;
    font-size: 24px;
    display: block;
    text-align: center;
}

div.plan.radial>div>div>div>ul>li.recharts-legend-item.legend-item-1>svg>path {
    display: none;
}

@media screen and (width: 1440px) {

    .containerScore {
        margin-right: 25px;
        transform: translate(0%, -44%);
    }

    .valueScore {
        font-size: 34px;
        margin-bottom: 14px;
    }

    .nameScore {
        font-size: 20px;
    }
}

@media screen and (width: 1024px) {
    .containerScore {
        margin-right: 32px;
        transform: translate(0%, -44%);
    }

    .valueScore {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .nameScore {
        font-size: 16px;
    }
}