.radial-bar-chart {
    background-color: #FBFBFB;
    /* background-color: blue; */
}

.radial .recharts-surface .recharts-area .recharts-layer .recharts-radial-bar-sector {
    fill: red;
}

div.plan.radial>div>div>div>ul>li.recharts-legend-item.legend-item-1>svg>path {
    display: none;
}


.containerScore {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin-right: 62px;
    transform: translate(-63%, -44%);
}

.valueScore {
    font-size: 53px;
    font-weight: 700;
    color: black;
    margin-bottom: 33px;
    line-height: 20px;
}

.nameScore {
    font-weight: 400;
    color: #74798C;
    font-size: 24px;
}


div.plan.radial>div>div>div>ul>li.recharts-legend-item.legend-item-1>span {
    color: currentColor;
    font-size: 24px;
    display: block;
    text-align: center;
}

div.plan.radial>div>div>div>ul>li.recharts-legend-item.legend-item-1>svg>path {
    display: none;
}

#root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div.plan.radial>div>div {
    text-align: center;
}

#root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div.plan.radial>div>div>svg {
    width: 431px;
    height: 327px;
    margin-top: 42px;
}

.legendRadial {
    position: absolute;
    font-size: 29px;
    font-weight: 500;
    color: black;
    bottom: 28%;
    z-index: 1;
    left: 56%;
}

#root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(4)>text {
    transform: translate(0%, 4%);
}


#root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(1)>text>tspan,
#root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(2)>text>tspan,
#root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(3)>text>tspan,
#root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(4)>text>tspan,
#root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(5)>text>tspan,
#root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(6)>text>tspan {
    font-size: 23px;
}

@media screen and (width: 1440px) {

    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(1)>text>tspan,
    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(2)>text>tspan,
    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(3)>text>tspan,
    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(4)>text>tspan,
    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(5)>text>tspan,
    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div:nth-child(2)>div>div>svg>g.recharts-layer.recharts-polar-angle-axis>g>g:nth-child(6)>text>tspan {
        font-size: 19px;
    }

    .containerScore {
        margin-right: 25px;
        transform: translate(-42%, -40%);
    }

    .valueScore {
        font-size: 26px;
        margin-bottom: 14px;
    }

    .nameScore {
        font-size: 16px;
    }

    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div.plan.radial>div>div {
        position: relative;
        cursor: default;
        width: 252px;
        height: 246px;
    }

    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div.plan.radial>div>div>svg {
        width: 232px;
        height: 209px;
        margin-top: 29px;
    }

    .legendRadial {
        font-size: 20px;
        bottom: 26%;
        left: 57%;
    }
}

@media screen and (width: 1024px) {
    .containerScore {
        margin-right: 32px;
        transform: translate(-19%, -44%);
    }

    .valueScore {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .nameScore {
        font-size: 14px;
    }

    #root>div>div.main-dashboard>section>article>div.article-dashboard-subtitle>div.plan.radial>div>div>svg {
        width: 221px;
        height: 176px;
        margin-top: 26px;
    }

    .legendRadial {
        font-size: 14px;
        bottom: 26%;
        left: 57%;
    }
}